$primary = #20a8d8
$primary-d1 = #1b89b1
$primary-d2 = #146785
$primary-d3 = #0d4559
$primary-l1 = #37b4e1
$primary-l2 = #64c5e8
$primary-l3 = #90d5ee	
$secondary = #a4b7c1
$success = #4dbd74
$success-d1 = #3ea863
$success-d2 = #30824d
$success-d3 = #225d37
$success-l1 = #6ac88b
$success-l2 = #8fd6a8
$success-l3 = #b5e3c5
$danger = #f86c6b
$danger-d1 = #f63c3c 
$danger-d2 = #f40b0b
$danger-d3 = #c30909
$danger-d4 = #920707
$danger-d5 = #610505
$danger-l1 = #fa9e9e
$danger-l2 = #fdcece
$danger-l3 = #fee7e7
$warning = #ffc107
$warning-l1 = #ffcc33
$warning-l2 = #ffd966
$warning-l3 = #ffe699
$warning-l4 = #fff2cc
$warning-d1 = #e6ac00
$warning-d2 = #b38600
$warning-d3 = #806000
$info = #63c2de
$light = #f0f3f5
$dark = #29363d
$border = #dee2e6


$gray100 = #f0f3f5
$gray200 = #c2cfd6
$gray300 = #a4b7c1
$gray400 = #869fac
$gray500 = #678898
$gray600 = #536c79
$gray700 = #3e515b
$gray800 = #29363d
$gray900 = #151b1e